@charset "UTF-8";
/* CSS Document */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');



:root {
	/* --BorderColor: #e2e2e3; */
	--BorderColor: #cbcbcb;
	--background-color: #fafafa;
	--favBlue:#2F373D;
	/* --favBlue:#1d2834;*/
	--LightGreyHighlight: #f4f2ee;
	--box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
	--GalleryPadding: 50px;
	--HeroBannerPadding:40px 0 40px 0;
	--ProjectHolderMargins:50px;
	--border-radius: 10px;
	--image-border-radius:5px;
	--HeroBannerWidth: 95rem;
	--ContainerWidth: 85rem;
	--Lineheight: 1.6rem;
	--SecondaryLineHeight:2.5rem;
	--main-color: #1b1b1b;
	--secondary-color: #e9e9e9;
	--CardColor: #F3F4F5;
--HeadlineFont: "Nunito Sans", sans-serif;
	--HeaderMain: 3rem;
	--SubHeader: 2rem;
	--CardHeader: 1.25rem;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
	font-optical-sizing: auto;
}


.Container { 
	display: grid;
	grid-template-rows: auto 1fr auto;
	grid-template-columns: minmax(0, 1fr);	
	min-height: 100vh;
}

p, p a{
	font-family: "Roboto", sans-serif;
	font-size: 1rem;
	font-style: normal;
	line-height: var(--Lineheight);
	overflow-wrap: break-word;
	color: var(--main-color);
}

 .images{
	border-radius: var(--border-radius);
	border: var(--BorderColor);
	width: 100%;
	height: auto;
	margin: 20px 0 20px 0;
}
	

html{
	overflow-x: hidden;
background-color: var(--secondary-color);
}

h1 a,
h1 {
	font-family: var(--HeadlineFont);
	font-size: var(--HeaderMain);
	font-weight: 600;
	text-decoration: none;
	color: #ffffff;
	flex-wrap: nowrap;
	text-align: center;
}

h1 a:hover {
	color: #333333;
}





header {
	position: relative;
	z-index: 5;
	width: 100%;
	height: 75px;
	box-shadow: var(--box-shadow);
	border-bottom: 1px solid var(--BorderColor);
	background-color: white;
	/* background: linear-gradient(to bottom,#000000, var(--main-color)); */

}

.navContainer{
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: space-between;
	max-width: var(--ContainerWidth);
	width: 100%;
	height: inherit;
}

header .logo {
    color: var(--main-color);
	text-wrap: nowrap;
	font-weight: 700;
		letter-spacing: .02rem;
    font-size: 30px;
	font-style: italic;
	display: flex;
	font-family: var(--HeadlineFont);
	font-style: normal;
}


/* header .logo{
	background: url(images/logo.png);
	width: 100%;
	max-width: 200px;
	height: 40px;
} */
/*MAIN MENU*/
#menu-icon {
	display: none;
}

nav ul {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 2.5rem;
}

nav ul li {
	list-style: none;
}

nav ul li a {
	color: var(--favBlue);
	font-family: var(--HeadlineFont);
	font-size: 1rem;
	letter-spacing: .02rem;
	font-weight: bold;	
	align-items: center;
	text-decoration: none;
	height: 75px;

}

nav ul li a:hover{
	cursor: pointer;
border-radius: 5px; /* Default border radius */
  transition: border-radius 0.3s ease 1; 
	color: #006699;
}
/*MAIN MENU*/


.HeroBanner {
background-color: var(--favBlue); 
	width: 100%;
	height: auto;
	max-height: 800px;
}

.HeroBanner img{
	max-width: 50%;
   background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.innerBanner{
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(420px, 1fr)); 
	gap: 4rem;
		justify-content: center;
	border-radius: var(--border-radius);
	height: fit-content;
	max-width: var(--HeroBannerWidth);
	margin: 0 auto;

}


.HeroBannerBox{
	padding: var(--HeroBannerPadding);
	width: 100%;
}



.innerBanner p{
	color: white;
}

.innerBanner img{
	border-radius: var(--border-radius);
	height: auto;
	padding-top: 0;
}


.ProjectHolder{
	background-color: var(--background-color);
	box-shadow: var(--box-shadow);
	border:  1px solid var(--BorderColor);
	border-radius: var(--border-radius);
	padding: var(--GalleryPadding);
	max-width: var(--ContainerWidth);
	width: 100%;
	height:fit-content;
	margin: 25px auto;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}


 .contentHolder {
	padding: var(--GalleryPadding);
	max-width: var(--ContainerWidth);
	background: #FFFFFF;
	border: 1px solid var(--BorderColor);
	border-top: 0;
	height: auto;
	min-height: 100%;
	display:flex;
	flex-direction: column;
	justify-content: center;
	overflow: hidden;
	margin: 0 auto;
}


.contentHolderHeader h1{
	font-family: var(--HeadlineFont);
	font-weight: bold;
    font-size: var(--SubHeader);
	color: var(--favBlue);
	text-align: left;
	line-height: calc(var(--SecondaryLineHeight) + 1rem;);
}

.contentHolderHeader p::after {
	display: block;
	content: '';
	border-bottom: 1px solid var(--BorderColor);
	width: 100%;
	padding-top: 20px;
	margin-bottom: 2rem;
}

/* 
.contentHolderHeader p{
	color: var(--main-color);
} */

.CardGallery {
	display: grid;
grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); 
	gap: 2rem;
	justify-content: center;
	width: 100%;
}


.Cards {
	background-color: white;
	border-radius: var(--border-radius);
	border: var(--BorderColor) 1px solid;
	box-shadow: var(--boxShadow);
	  box-sizing: border-box;

height: auto;
  min-height: 350px;
  	overflow: auto;
}

.Cards:hover{
  transform: scale(1); /* Slightly scale up the card */
  transition: ease-in-out 1s;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5); /* Enhanced shadow on hover */
}

.Cards img{
	border-top-left-radius: var(--image-border-radius);
	border-top-right-radius: var(--image-border-radius);
  width: 100%;
  height: auto;
  	object-fit: cover;
	overflow: auto;
	background-size: cover;
}

.CardInfo{
	padding: 1.5rem;
}

.Cards h1{
	font-family: var(--HeadlineFont);
	font-weight: bold;	
  letter-spacing: .1;
    font-size: var(--CardHeader);
	text-align: left;
	color: var(--favBlue);
	line-height: var(--SecondaryLineHeight);
}



.CardButton{
	display: flex;
	justify-content: flex-end;
}

.button-link {
	margin-top: 10px;
	padding: 12px 14px 12px 14px;
	background: var(--favBlue);
	color: #ffffff;
	font-family: var(--HeadlineFont);
	font-weight: 500;
    font-size: .9rem;
	letter-spacing: .5px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: calc(var(--border-radius) - .2em);
	border: solid 1px var(--LightGreyHighlight);
	-webkit-transition-duration: 0.5s;
	-moz-transition-duration: 0.5s;
	transition-duration: 0.5s;
}

.button-link:hover {
	background: #006699;
	cursor: pointer;
}



footer {
	height: 150px;
	background: var(--favBlue);
    color: white;
	border-top: #006699 5px solid;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: -1;
    padding: 40px 0px;
    font-size: 14px;
    font-weight: 700;
}


.footerContainer{
	max-width: var(--ContainerWidth);
	width: 100%;
margin: 0 auto;

}



