@charset "UTF-8";
/* CSS Document */
@import url('https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&display=swap');



:root {
	/* --BorderColor: #e2e2e3; */
	/* --BorderColor: #c5c5c5; */
	--BorderColor: #e4e1e1;
	--background-color: #fafafa;
	--favBlue:#123458;
	/* --favBlue:#1d2834; */
	/* --LightGreyHighlight: #f4f2ee; */
 --box-shadow: 0 .2rem .6rem -.2rem rgba(33, 43, 54, .16);
	--GalleryPadding: 3rem;
	--CardsPadding:1rem;
	--border-radius: 1rem;
	--image-border-radius: 6px;
	--HeroBannerWidth: 130rem;
	--ContainerWidth: 1490px;
	--Lineheight: 1.6em;
	--SecondaryLineHeight: 3rem;
	--main-color: #222222;
	--secondary-color: #e9e9e9;
	--LightGrey-color: #c9c9c9;
	--CardColor: #F3F4F5;
--HeadlineFont:  "Instrument Sans", sans-serif;
	--HeaderMain: 3.5rem;
	--SubHeader: 2rem;
	--CardHeader:1.25rem;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
	font-optical-sizing: auto;
}



p, p a{
	font-family: "Geist", sans-serif;
  font-style: normal;
  	font-size: 1rem;
	line-height: var(--Lineheight);
	color: black;
	text-wrap: pretty;
}
p a{
	text-decoration: underline;
	color: #006699;
}


 .images{
	border-radius: var(--border-radius);
	border: var(--BorderColor);
	width: 100%;
	height: auto;
	margin: 10px 0 20px 0;
}
	

html{
	overflow-x: hidden;
	 scroll-padding-top: 6rem;
}

h1 {
	font-family: var(--HeadlineFont);
	font-size: var(--HeaderMain);
	flex-wrap: nowrap;
	letter-spacing: -0.03em;
}

h1 a:hover {
	color: #333333;
}





header {
	z-index: 1000;
	width: 100%;
	height: 5.5rem;
	border-bottom: 1px solid var(--LightGrey-color); 
background-color: white;
box-shadow: var(--box-shadow);
position:sticky;
top: 0;
}


.navContainer{
	display: flex;
	align-items: center;
	justify-content: space-between;
		margin: 0 auto;
	height: inherit;
	width: var(--ContainerWidth);
}

header .logo a{
	color: var(--main-color);
	text-wrap: nowrap;
    font-size: 2rem;
		font-weight: 400;
	display: flex;
	font-family: var(--HeadlineFont);
	font-style: normal;
	letter-spacing: -0.01em;
}

header .logo a:hover{
	color: #333333;
}

/*MAIN MENU*/
#menu-icon {
	display: none;
}
.nav{
	height: 80px;
}

nav ul {
	display: flex;
	align-items: center;
	justify-content: center;
   gap: 2rem;
}

nav ul li {
	list-style: none;
}
.contactButton{
	display: flex;
	justify-content: center;
	align-items: center;
}

.contactBtn{
	height: 40px; 
	background-color: #033d5a;
	border: 1px solid var(--favBlue); 
	display: flex; 
	justify-content: center;
	align-items: center; 
	padding: 20px;
	border-radius: 30px;
	transition-duration: 0.5s;
	color: white;
	
	letter-spacing: 1px;
}

.contactBtn:hover{
	background-color: var(--favBlue);
	color: white;
}
nav ul li a, .contactButton{
	color: var(--main-color);
	font-family: var(--HeadlineFont);
	font-weight: 500;
	letter-spacing: 0.04em;
	font-size: 1rem;
	align-items: center;
	text-decoration: none;
	text-transform: uppercase;
	height: 80px;
	transition-duration: 0.5s;
}

nav ul li a:hover{
	cursor: pointer;
border-radius: var(--border-radius); /* Default border radius */
	background-color:var(--favBlue);
	color: white;
}

/*MAIN MENU*/


.HeroBanner {
	position: relative;
		/* background-image: url(../images/forest.webp); */
		  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
		display: flex;
	justify-content: center;
	width: 100%;
	height: 50vb;
	background-color: white;
background-image: linear-gradient(to right bottom, #123458, #134068, #124c78, #0c5988, #006699);
}


.innerBanner{
	max-width: var(--ContainerWidth);
		display: flex;
	align-items: center;
	justify-content: center;
	color: white;
	gap: 2rem;
}
 





.HeroBannerBox{
	width: 100%;
}




.HeroBannerBox h1{
	line-height: 4.5rem;
	margin-bottom: 2rem;
font-weight: 500;
letter-spacing: -0.02em;
}

.HeroBannerBox p{
	color: white;
	margin-bottom: 2rem;
}

.innerBannerButton, .innerBannerButton a{
		font-family: Arial, Helvetica, sans-serif;
		text-transform: uppercase;
  display: flex;
  justify-content:flex-start;
  align-items: center;
  gap: 2rem;
  color: white;
  white-space: nowrap;
}

.Projects{
	background-color: var(--CardColor);
	padding-top: var(--GalleryPadding);
}

.Projects > :last-child{
	padding-bottom: var(--GalleryPadding);
}

.HeroBannerBox img{
	border-radius: var(--border-radius);
	width: 100%;
display: flex;
justify-content: flex-end;
align-content:end;
} 

.ProjectHolder{
	background-color: white;
	border-radius: var(--border-radius); 
	border: 1px solid var(--BorderColor);
	box-shadow: var(--box-shadow);
	padding: var(--GalleryPadding);
	max-width: var(--ContainerWidth);
	width: 100%;
	height:fit-content;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}


 .ContentHolder{
	margin: 0 auto;
	width: 100%;
padding: var(--GalleryPadding); 
	max-width: var(--ContainerWidth);
	height: auto;
	display:flex;
	flex-direction: column;
	justify-content: center;
	overflow: hidden;
}


.contentHolderHeader h2{
	font-family: var(--HeadlineFont);
    font-size: clamp(var(--SubHeader), 2rem, 1.25rem);
	font-weight: 500;
	letter-spacing: -.02em;
	margin-bottom: 8px;
	color: var(--favBlue);
	display: block;
}


.contentHolderHeader::after {
	display: block;
	content: '';
	border-bottom: 1px solid var(--favBlue);
	width: 100%;
	padding-top: 1rem;
	margin-bottom: 2rem;
}

.CardGallery {
	display: grid;
grid-template-columns: repeat(auto-fit, minmax(350px, 1fr)); 
	gap: 2rem; 
	justify-content: center;
	width: 100%;
}


.Cards {
	border-radius: .5rem;
	border: var(--LightGrey-color) 1px solid;
	box-shadow: var(--box-shadow);
	box-sizing: border-box;
height: fit-content;
  	overflow: hidden;
}


.Cards img{
	border-top-left-radius: var(--image-border-radius);
  width: 100%;
  height: auto;
  	object-fit: cover;
	overflow: auto;
	background-size: cover;
	z-index: 1;
}

.CardInfo{
	padding: var(--CardsPadding);
}

.Cards h1{
	letter-spacing: .02em;
	font-family: var(--HeadlineFont);
    font-size: var(--CardHeader);
	margin-bottom: 8px;
		font-weight: 600;
	color: #000;
}

.Cards h1 a{
	color: var(--favBlue);
}

.Cards h1 a:hover{
	color: #006699;
			transition-duration: 0.5s;

}


.CardInfoGrid{
	display: flex;
	justify-content: space-between;
	align-items: baseline;
}


.CardInfoGridBox ul{
	display: flex;
	flex-direction: column;
	text-decoration: none;	
  list-style-type: none;
}

 .CardInfoGridBox ul li {
	color: var(--LightGrey-color);
	font-size: .75rem;
	font-weight: 400;	
	text-decoration: none;
	line-height: var(--Lineheight);
 }

.CardInfoGridBox ul li::before{
  content: '';
	display: inline-block;
	background-color: var(--LightGrey-color);
	border-radius: 2px;
	margin-right: 5px; 
	width: 10px;
	height: 10px;
vertical-align: -1px;
} 


.CardButton{
	display: flex;
	justify-content: flex-end;
	margin-top: auto;
}

.button-link {
	text-transform: uppercase;
	width: 100%;
	padding: 1rem;
	background-color: var(--secondary-color);
	color: black;
	font-family: var(--HeadlineFont);
	font-size: .875rem;
	font-weight: 500;
	text-transform: uppercase;
	letter-spacing: -.03;
	display: flex;
	justify-content: center;
	align-items: center;
	transition-duration: 0.5s;
		flex-wrap: nowrap;
}

.Cards .button-link{
	border-top: 1px solid var(--LightGrey-color);
}

.HeroBannerBox .innerBanner .button-link:hover, #About .button-link:hover, .button-link:hover {
	cursor: pointer;
	color: white;
		background: var(--favBlue);

}


.HeroBannerBox .button-link, #About .button-link{
	max-width: fit-content;
	color:white;
		background:#006699;
	border-radius: 25px;
	padding: 12px 24px;
}


footer{
	min-height: 250px;
    background-color: #0f0a14;
    border-top: 1px solid rebeccapurple;
}






.footer-logo {
    font-size: 1.5rem;
    font-weight: 900;
    letter-spacing: -0.05em;
}

.footerContainer{
	width: 100%;
	max-width: var(--HeroBannerWidth);
	padding: var(--GalleryPadding);
		margin: 0 auto;
}

.footerContainer p, .footerContainer ul li{
color:white;
  font-size: 14px;
    font-weight: 400;
  list-style: none;
  line-height: var(--Lineheight);
}
