@charset "UTF-8";
/* CSS Document */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');



:root {
	/* --BorderColor: #e2e2e3; */
	/* --BorderColor: #c5c5c5; */
	--BorderColor: #d4d4d4;
	--background-color: #fafafa;
	/* --favBlue:#2F373D; */
	--favBlue:#1d2834;
	/* --LightGreyHighlight: #f4f2ee; */
 --box-shadow: 0 .2rem .6rem -.2rem rgba(33, 43, 54, .16);
	--GalleryPadding: 4.5rem;
	--CardsPadding:1.50rem;
	--border-radius: 1rem;
	--image-border-radius: .5rem;
	--HeroBannerWidth: 120rem;
	--ContainerWidth: 90rem;
	--Lineheight: 1.6rem;
	--SecondaryLineHeight: 3rem;
	--main-color: #222222;
	--secondary-color: #e9e9e9;
	--LightGrey-color: #c9c9c9;
	--CardColor: #F3F4F5;
--HeadlineFont: "Inter", sans-serif;
	--HeaderMain:4rem;
	--SubHeader: 2rem;
	--CardHeader:1.25rem;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
	font-optical-sizing: auto;
}


.Container { 
	display: grid;
	grid-template-rows: auto 1fr auto;
	grid-template-columns: minmax(0, 1fr);	
	min-height: 100vh;
	margin: 0 auto;
	width: 100%;
	box-shadow: var(--box-shadow);
		border: 1px solid var(--BorderColor);
		border-top: none;
}


p, p a{
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  	font-size:1rem;
	line-height: var(--Lineheight);
	color: black;
}
p a{
	text-decoration: underline;
	color: #006699;
}

 .images{
	border-radius: var(--border-radius);
	border: var(--BorderColor);
	width: 100%;
	height: auto;
	margin: 10px 0 20px 0;
}
	

html{
	overflow-x: hidden;
}

h1 {
	font-family: var(--HeadlineFont);
	font-size: var(--HeaderMain);
	text-transform: uppercase;
	flex-wrap: nowrap;
}

h1 a:hover {
	color: #333333;
}





header {
	z-index: 5;
	width: 100%;
	max-width: inherit;
	height: 80px;
	border-bottom: 1px solid #e2e2e2; 
background-color: white;
margin-bottom: 4.5rem;
box-shadow: var(--box-shadow);
}


.navContainer{
	display: flex;
	align-items: center;
	justify-content: space-between;
	max-width: var(--HeroBannerWidth);
	margin: 0 auto;
	height: inherit;
	padding: 0 4.5rem;
}

header .logo a{
	color: var(--main-color);
	text-wrap: nowrap;
	text-transform: uppercase;
    font-size: 30px;
		font-weight: 600;
	display: flex;
	font-family: var(--HeadlineFont);
	font-style: normal;
}

header .logo a:hover{
	color:var(--secondary-color);
}

/*MAIN MENU*/
#menu-icon {
	display: none;
}

nav ul {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 1rem;
}

nav ul li {
	list-style: none;
}

nav ul li a {
	color: var(--main-color);
	font-family: var(--HeadlineFont);
	font-size: 1rem;
	letter-spacing: .2px;
	font-weight: 500;
		text-transform: uppercase;
	align-items: center;
	text-decoration: none;
	height: 80px;
	padding: 10px;
	-webkit-transition-duration: 0.5s;
	-moz-transition-duration: 0.5s;
	transition-duration: 0.5s;
}

nav ul li a:hover{
	cursor: pointer;
border-radius: var(--border-radius); /* Default border radius */
	background-color:var(--favBlue);
	color: white;
	padding: 10px;
}

/*MAIN MENU*/


.HeroBanner {
	width: 100%;
	background-size: cover;
}

.HeroBannerBox h1 {
	z-index: 999;
	color:white;
	font-weight: 400;
	margin-bottom: 30px;
	line-height: calc(var(--SecondaryLineHeight) + 3rem);
}

.HeroBannerBox p {
	color:white;
	line-height: 2.25rem;
	font-weight: 400;
	margin-bottom: 50px;
	font-size: 1.25rem;
}

.innerBanner{
		background-color:var(--main-color);
	margin: 0 auto;
	border-radius: var(--border-radius);
	max-width: var(--HeroBannerWidth);
	 /* background: linear-gradient(to right top, #051937, #0a2a4e, #0d3d67, #0b5180, #006699); */
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(420px, 1fr)); 
	gap: 4em;
		justify-content: space-between;
	padding: var(--GalleryPadding);
	width: inherit;
}
 


.HeroBannerBox{
	width: 100%;
	position: relative;
}

.HeroBannerBox img{
	border-radius: var(--border-radius);
	width: 100%;
}
#About p{
	line-height: 1.75rem;
}

.ProjectHolder{
	background-color: white;
	border-radius: var(--border-radius); 
	padding: var(--GalleryPadding);
	max-width: var(--ContainerWidth);
	width: 100%;
	height:fit-content;
	margin: 20px auto;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}


 .ContentHolder{
	margin: 0 auto;
	width: 100%;
	padding: var(--GalleryPadding);
	max-width: var(--HeroBannerWidth);
/* 	background: #FFFFFF;
border: 1px solid var(--BorderColor); */
	border-top: none;
	height: auto;
	display:flex;
	flex-direction: column;
	justify-content: center;
	overflow: hidden;
}


.contentHolderHeader h1{
	font-family: var(--HeadlineFont);
    font-size: var(--SubHeader);
	font-weight: 600;
	text-transform: uppercase;
	color: var(--favBlue);
	text-align: left;
	display: block;
	margin-left: -1px;
	line-height: var(--SecondaryLineHeight);
	margin-bottom: 10px;
}

.contentHolderHeader p::after {
	display: block;
	content: '';
	border-bottom: 1px solid var(--secondary-color);
	width: 100%;
	padding-top: 2rem;
	margin-bottom: 2rem;
}


.CardGallery {
	display: grid;
grid-template-columns: repeat(auto-fit, minmax(600px, 1fr)); 
	gap: 3rem; 
	justify-content: center;
	width: 100%;
}


.Cards {
	display: flex;
	flex-direction: column;
	border-radius: var(--border-radius);
	border: var(--LightGrey-color) 1px solid;
	box-shadow: var(--box-shadow);
	box-sizing: border-box;
height: fit-content;
  	overflow: hidden;
}


.Cards img{
	border-top-left-radius: var(--image-border-radius);
  width: 100%;
  height: auto;
  	object-fit: cover;
	overflow: auto;
	background-size: cover;
	z-index: 1;
}

.CardInfo{
	padding: var(--CardsPadding);
}

.Cards h1{
	font-family: var(--HeadlineFont);
    font-size: var(--CardHeader);
	font-weight: 600;
	margin-top: -10px;
		text-transform: uppercase;
	text-align: left;
	color: #000;
	line-height: var(--SecondaryLineHeight);
}
.Cards h1 a{
	color: var(--favBlue);
}

.Cards h1 a:hover{
	color: #006699;
			transition-duration: 0.5s;

}

.CardInfoGrid{
	display: flex;
	justify-content: space-between;
	align-items: baseline;
}


.CardInfoGridBox ul{
	display: flex;
	flex-direction: column;
	text-decoration: none;	
  list-style-type: none;
}

 .CardInfoGridBox ul li {
	color: var(--LightGrey-color);
	font-family: "Roboto", sans-serif;
	font-size: .75rem;
	font-weight: 400;	
	text-decoration: none;
	line-height: var(--Lineheight);
 }

.CardInfoGridBox ul li::before{
  content: '';
	display: inline-block;
	background-color: var(--LightGrey-color);
	border-radius: 2px;
	margin-right: 5px; 
	width: 10px;
	height: 10px;
vertical-align: -1px;
} 


.CardButton{
	display: flex;
	justify-content: flex-end;
	margin-top: auto;
}

.button-link {
	width: 100%;
	padding: var(--CardsPadding);
	background-color: var(--secondary-color);
	color: black;
	font-family: var(--HeadlineFont);
	font-weight: 500;
	text-transform: uppercase;
	display: flex;
	justify-content: center;
	align-items: center;
	-webkit-transition-duration: 0.5s;
	-moz-transition-duration: 0.5s;
	transition-duration: 0.5s;
}
.Cards .button-link{
	border-top: 1px solid var(--LightGrey-color);
}

.HeroBannerBox .button-link:hover, .button-link:hover {
	cursor: pointer;
	color: white;
		background: #006699;

}


.HeroBannerBox .button-link{
	max-width: fit-content;
	color:var(--main-color);
		background:white;
	border-radius: 25px;
	padding: 16px 32px 16px 32px;
}


footer {
	height: 150px;
	background: var(--favBlue);
    color: white;
	border-top: #006699 2px solid;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: -1;
    padding: var(--GalleryPadding);
	margin: 0 auto;

}


.footerContainer{
	width: 100%;
	max-width: var(--HeroBannerWidth);
}

.footerContainer p, .footerContainer ul li{
color:white;
  font-size: 14px;
    font-weight: 400;
  font-family: "Lato", sans-serif;
  list-style: none;
  line-height: var(--Lineheight);
}
