@charset "UTF-8";
/* CSS Document */
@media (max-width: 1200px) {
	.innerBanner {
		width: 100%;
		display: flex;
		flex-direction: column;
	}
.innerBannerButton, .innerBannerButton a {
	display: flex;
	justify-content: center;
	flex-direction: column;
	gap: 1rem;
	width: 100%;
}
	
	.logo {
		z-index: 999;
		font-weight: 500;
	}
.button-link{
	width: 100%;
	margin: 0 auto;
}
	nav ul li a{
		display: none;
	}

	.navContainer{
		padding: 0 1rem;
	}
		.ContentHolder,
	.HeroBanner, .ProjectHolder {
		padding: 1rem;
		height: fit-content;
	}
}



@media (max-width: 950px) {
/* 
	.contactButton{
		 display: block !important;
    position: static;
	} */
}


@media (max-width: 720px) {
	header .logo a{
		z-index: 999;
		font-weight: 400;
		font-size: 1.5rem;
	}

		.HeroBannerBox h1 {
		font-size: 1.75rem;
		line-height: 2rem;
		margin-bottom: none;
	}
	.HeroBannerBox p {
		font-size: 1em;
		word-break: normal;
		word-wrap: no-wrap;
		line-height: 1.6;
	}



	.Cards {
		width: 100%;
	}

	.HeroBannerBox .button-link {
		width: 100%;

	}


	.innerBanner {
		padding: .5rem;
		display: flex;
		flex-direction: column;
	}

	.HeroButton {
		display: flex;
		flex-direction: column;
		width: 100%;
	}
.Projects{
	padding: 1rem;
}
.CardGallery{
	padding: 8rem;
}

}