@charset "UTF-8";
/* CSS Document */




@media (max-width: 980px) {
	.logo {
		top: 0;
		left: 0;
		z-index: 999;
		font-weight: 500;
		margin-left: 20px;
	}

	#pageTitle {
		font-size: 18px;
		float: left;
		margin-left: 15px;
	}

	.button-link {
		float: right;
		margin-top: 25px;
		margin-right: 15px;

	}

.innerBanner{
display: flex;
flex-direction: column;
width: 100%;
}

	nav ul li{
		display: none;
	}




	#menu-icon {
		color: white;
		text-decoration: none;

	}
	.ProjectHolder{
		border-radius: 0%;
		margin: 5px auto;
	}
}