@charset "UTF-8";
/* CSS Document */
@media (max-width: 1400px) {
	
	.Container{
		padding: 1rem;
	}
	.logo {
		z-index: 999;
		font-weight: 500;
	}
.button-link{
	width: 100%;
	margin: 0 auto;
}
	nav ul li{
		display: none;
	}

	.navContainer{
		padding: 0 1rem;
	}

}



@media (max-width: 950px) {
	.CardGallery {
		display: grid;
		grid-template-columns: 1fr;
		margin: 0 auto;
	}

	.ContentHolder,
	.HeroBanner {
		padding: 30px;
		height: fit-content;
	}
}


@media (max-width: 720px) {
	.navContainer {
		padding: 0 2rem;
	}

	.innerBanner {
		width: 100%;
		display: flex;
		flex-direction: column;
	}

	.header .logo {
		z-index: 999;
		font-weight: 500;
		font-size: medium;
	}

	h1 {
		line-height: 1rem;
		font-size: 1rem;
	}

	.button-link {
		display: block;
	}

	.HeroBannerBox p {
		font-size: .9em;
		word-break: normal;
		word-wrap: no-wrap;
		line-height: 1.4;
	}

	.navContainer {
		padding: 0 2rem;
	}

	.contactButton {
		display: inline-block;
	}

	.Cards {
		width: 100%;
	}

	.HeroBannerBox .button-link {
		width: 100%;

	}


	.innerBanner {
		padding: 1rem;
		display: flex;
		flex-direction: column;
	}

	.HeroButton {
		display: flex;
		flex-direction: column;
		width: 100%;
	}

	.Projects {
		padding: 8px;
	}

}